@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600&family=Lora&family=Varela+Round&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 40px;
}

.paginate{
    display: flex;
    align-items: center;
    justify-content: end;
}

.paginate li{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(150, 150, 150);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}